body,
input#newtweet {
	font: 18px/23px 'Helvetica Neue', Helvetica, sans-serif;
}

#main {
	background-color: #cfd9df;
	width: 660px;
	margin: 0 auto;
	border-radius: 10px;
}

/* header div styles */

.header {
	border-bottom: 1px solid #fff;
	height: 70px;
}

h1 {
	margin: 0;
	float:left;
	font-size: 26px;
	padding-left: 30px;
	line-height: 70px
}

.buttons {
	float:right;
	margin: 17px 30px 0 0;
}

button:first-child {
	margin-right: 5px;
}

button,
input.submit {
	font-size: 13px;
	letter-spacing:0.05em;
	font-weight: bold;
	color: #fff;
	background-color: #1da1f2;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
	border: none;
}

button:focus,
input:focus {
	outline: none;
}
/* list div styles */

.tweetlist {
	clear: both;
	margin: 0;
	list-style-type: none;
	padding-inline-start: 0;
}

.tweetlist li {
	padding: 15px;
	border: 1px solid #fff;
}

.lightbg {
	background-color: #e9edf0;
}

.username { 
	font-weight: bold;
	font-size: 15px;
	color: #14171a;
	text-decoration: none;
	display: inline-block; 
	margin-right: 4px; 
}

.username:hover {
	text-decoration: underline;
}

.timestamp {
	color: #657786;
	display: inline-block; 
	margin-right: 4px; 
	font-style: italic;
	font-size: 15px;
}

.message { 
	display: block; 
}

label {
	display: none;
}

form {
	padding: 18px;
}

input#newtweet {
	padding: 5px;
	border: 1px solid #e9edf0;
	border-radius: 5px;
	width: 610px;
	height: 35px;
	margin-bottom: 10px;
}